
/* Your CSS Code here. */
.main{
	Width:200px;
	background-color:purple;
	border-left-style:solid;
	border-left-color:green;
	border-left-width:5px;
	padding:10px;
}
.heading{
	font-size:20px;
	color:white;
	text-decoration:underline;
}